<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido al Turnero</title>
</head>
<body>
 <h1>Bienvenido al Sistema del Turnero</h1>
  <div>
     Número de personas: {{no_personas}}
  </div>

  <div>
     <ul>
         {% for persona in personas %}
           <li>Persona{{persona.numero_documento}} {{persona.nombre}} {{persona.apellido}}</li>
         {% endfor %}
      <ul>
  </div>

</body>
</html>